# AI & Geocoding Services
IG_OPENAI_API_KEY=tu_openai_api_key_aqui
OPEN_CAGE_KEY=tu_opencage_api_key_aqui

# Database (MongoDB Atlas)
MONGO_USERNAME=tu_usuario_mongodb
MONGO_PASSWORD=tu_contraseña_mongodb

# Kafka Configuration (Local Docker)
KAFKA_BOOTSTRAP_SERVER=kafka:9092

# Twitter/X Scraper (RapidAPI)
RAPIDAPI_KEY=tu_rapidapi_key_aqui
RAPIDAPI_HOST=twitter241.p.rapidapi.com

# Instagram Scraper (RapidAPI)
RAPIDAPI_IG_KEY=tu_rapidapi_key_aqui
RAPID_API_IG_HOST=instagram-social-api.p.rapidapi.com
